body {
    text-align: center;
    
}



.wrapper {
    max-inline-size: 900px;
    margin-inline:auto;


}

header{
    display:flex;
    justify-content: space-between;
}

.mainNavigation ul {
    display:flex;
    gap:10px;
    list-style:none;
    margin:0;
    padding-block-start:1.5rem;
    padding-inline-end:1rem;
}


#lmgLogo{
    display:flex;
    max-width:7rem;
    max-height:7rem;
}

.mainNavigation a {
    text-decoration: none;
    color:rgba(0,122,185,255);
    font-weight:bold;
    padding:3px;
    border-radius:1px;
}




.subTopic{
        box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
        border: solid 3px rgba(0,122,185,255);
        border-radius:5px;
        margin-block-end:0.3rem;
        padding-inline:1rem;

}

.h2Topics{
    padding-block-start:1rem;
    color:rgb(43, 76, 142);
}


.landerPage {
    background-image: url('../images/forest_bg_image.jpg');
    padding:10rem;
    background-repeat:no-repeat;
    background-position:center;
    background-size:cover;
    color:#ffffff;
    margin-bottom:30px
    
    
}

.landerPageHeading{

    background-color: rgba(255,255,255,1);
    color:rgba(0,122,185,255);
    text-align: center;
    border:3px solid #ffffff;
    border-radius:5px;
}

.first-site-text {
    padding-inline:0px;
    max-inline-size: 1000px;
    font-size:30px;
}

.highlighted-1{
    color:rgb(138, 219, 138);
}

.highlighted-2 {
    color:rgb(116, 169, 225);
}

.button-topic{
    border-radius:4px;
    background-color: #df9a72;
    border:3px solid rgb(78, 173, 228);
    color:white;
    text-align: center;
    text-decoration: none;
    display:inline-block;

}

.multi-column-layout {
    gap:5px;
    display:grid;
    grid-template-columns: 1fr 1fr 1fr;
    color:black;
    
}

.whatWeDo{
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);

}

.currentProjects{
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}

.two-column-text-section 
{
    padding-block:1rem;
    color:white;
    background-color: rgb(137, 217, 252);
}
.card {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    border-radius: 5px; /* 5px rounded corners */
    margin-block-end:1rem;
  }
  
  /* On mouse-over, add a deeper shadow */
.card:hover {
    transition:0.2s;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    border:3px #df9a72 solid;
  }

  
/* Add some padding inside the card container */
.container {
margin-block-start:1px;
}
/* Add rounded corners to the top left and the top right corner of the image */
.cardImage {
border-radius: 5px 5px 0 0;
}

.aboutUs{
    
}

footer{
    
    border: solid 3px rgba(0,122,185,255);

}

footer ul {
    text-align: left;
}