body {
    text-align: center;
    
}



.wrapper {
    max-inline-size: 900px;
    margin-inline:auto;


}

header{
    display:flex;
    justify-content: space-between;
}

.mainNavigation {
    position:sticky;
    top:0;
}

.mainNavigation ul {

    display:flex;
    gap:10px;
    list-style:none;

    @media only screen and (width > 500px){
    padding-inline-start:3px;
    padding-inline-end:1rem;
    font-size:2rem;
    margin-block-start:3.6rem;
}
}
.mainNavigation a:hover {
    color:#ffffff;
    transition:0.2s;
    background-color:rgba(0,122,185,0.9);
}

.mainNavigation a {
    
    text-decoration: none;
    color:rgba(0,122,185,255);
    font-weight:bold;
    padding:3px;
    border-radius:1px;

}

#lmgLogo{
    display:flex;
    min-width:3rem;
    @media only screen and (width > 500px){
    min-width:0.5rem;
    max-width:13rem;
}
}

#lmgLogo:hover{
    cursor:pointer;
}

.subTopic{
        border: solid 3px rgba(0,122,185,255);
        border-radius:5px;
        margin-block-end:0.3rem;
        padding-inline:1rem;

}

.subTopic h2 
{
        @media only screen and (width > 500px){
        font-size:2.5rem;
        margin-block-end:1rem;
}
}

.subTopic p {
        @media only screen and (width > 500px){
        font-size:1.5rem;
}
}


.h2Topics{
    padding-block-start:1rem;
    color:rgba(0,122,185,255);
    padding-block-start:1rem;
    padding-block-end:0.7rem;
    margin-block:0rem;
    @media only screen and (width > 500px){
        font-size:2rem;
    }
    
}


.landerPage {

    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    background-image: url('../../images/backgroundImage.png');
    padding:10rem;
    background-repeat:no-repeat;
    background-position:center;
    background-size:cover;
    color:#ffffff;
    margin-bottom:30px
}


.landerPageHeading{

    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    background-color: rgba(255,255,255,1);
    color:black;
    text-align: center;
    border:5px solid rgba(0,122,185,255);
    border-radius:5px;
    padding-block:0.5rem;
    @media only screen and (width > 500px){
    font-size:2.5rem;

}
}



.highlightedOrange {
    color:orange;
}

.highlightedBlue {
    color:rgba(0,122,185,255);
}

.subTopic{
    margin-block:2rem;
}

.button-topic{
    border-radius:4px;
    background-color: #df9a72;
    border:3px solid rgb(78, 173, 228);
    color:white;
    text-align: center;
    text-decoration: none;
    display:inline-block;

}
.subTopicText{
    @media only screen and (width > 500px){
    box-shadow: 0 10px 20px 0 rgba(0,0,0,0.2);
    margin-block-end:1rem;
    padding:0px;
}
}

#whatWeDo{
    border:none;
}

#whatWeDoText{
    background-color:rgb(246, 169, 54);
    color:#ffffff;
    font-weight:bold;
    padding-inline:1rem;
    border-radius:5px;
    border:3px solid rgba(0,122,185,255)
    
}

#lmgGebaeudeAussenansicht {
    @media only screen and (width > 500px){
    min-width:400px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    margin-block-end:1rem;
    margin-inline-end:0px;
}
}

#wetterstationen_mit_gehauese{
    @media only screen and (width > 500px){
    max-width:400px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    margin-block-end:1rem;
    margin-inline-end:0px;
}
}

.multi-column-layout {
    gap:20px;
    display:grid;
    grid-template-columns: 1fr 1fr 1fr;
    color:black;
    
}

.twoColumnLayout{
    gap:20px;
    display:grid;
    grid-template-columns: 1fr 1fr;
    color:black;
}



.two-column-text-section 
{
    padding-block:1rem;
    color:white;
    background-color: rgb(137, 217, 252);
}
.card {
    border:3px solid rgba(0,122,185,255);
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    border-radius: 5px; /* 5px rounded corners */
    margin-block-end:1.5rem;
  }



  .cardImage{
        @media only screen and (width > 500px){
        min-height:14rem;
}
  }
  
  /* On mouse-over, add a deeper shadow */
.card:hover {
    transition:0.2s;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    border:3px #df9a72 solid;
  }

  
/* Add some padding inside the card container */
.container {
margin-block-start:1px;
}
/* Add rounded corners to the top left and the top right corner of the image */
.cardImage {
border-radius: 5px 5px 0 0;
}

.aboutUs{
    
}

footer{
    justify-content: end;
    border: solid 3px rgba(0,122,185,255);

}

footer ul {
    text-align: left;
}